body{
  display:block;
  background-image: url("https://img.freepik.com/foto-gratis/bloc-notas-calculadora-vacios-azules_23-2148475333.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #87ceeb;
  background-attachment: scroll;
}

.flex-title {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin: 0 0 30px 24%;
}

.flex-container {
  margin-left: 55%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 20%;
  width: 210px;
}

.flex-calculate{
  margin-left: 45%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 40%;
  width: 460px;
  font-size: 30px;
  font-style: italic;
}

.flex-container .calculate-title {
  display: flex;
  font-size: 40px;
  color: black;  
}

.flex-container p {
  margin: 10px 0 10px 0;
}

.flex-calculate .result{
  color: white;
  padding: 0 0 0 10px;
}